<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYJ1kEHEAVvHmmzJT3E96H5WiynQsh5AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>938537674369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopping</string>
	<key>PROJECT_ID</key>
	<string>shopapp-66fcb</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-66fcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938537674369:ios:d2bf9301cf969e3a644f80</string>
</dict>
</plist>